# Make virtual enviornment 
# python -m venv myenv
#  myenv\Scripts\activate

langchain
langchain-ollama
langchain-community
langchain-core
langgraph
streamlit
python-dotenv
requests
faiss-cpu
pypdf
duckduckgo-search

